body,
.App {
	cursor: none; /* Скрываем стандартный курсор */
}

#cursor-outer,
#cursor-inner {
	position: fixed;
	pointer-events: none;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.2s ease, opacity 0.2s ease;
	z-index: 10000;
}

#cursor-outer {
	border-style: solid;
	opacity: 0.3;
}

#cursor-inner {
	background-color: #0ff;
}
