/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins-Black';
	src: url(assets/Poppins-Black.ttf);
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url(assets/Poppins-Regular.ttf);
}
@font-face {
	font-family: 'Poppins-SemiBold';
	src: url(assets/Poppins-SemiBold.ttf);
}
